PyIKEv2 doesn't accept CREATE_CHILD_SA without DH

According to [RFC-7296](https://datatracker.ietf.org/doc/html/rfc7296#section-1.3):

>    Initiator                         Responder
>    -------------------------------------------------------------------
>    HDR, SK {SA, Ni, [KEi,]
>               TSi, TSr}  -->
> 
>    The initiator sends SA offer(s) in the SA payload, a nonce in the Ni
>    payload, optionally a Diffie-Hellman value in the KEi payload, and
>    the proposed Traffic Selectors for the proposed Child SA in the TSi
>    and TSr payloads.

While IKEv2 can't process that situation, because its proposal contains DH group, while, according to RFC, it is optional.

As per section 2.7 of RFC 7296, 
```
Each IPsec protocol proposal contains one or more transforms.  Each
   transform contains a Transform Type.  The accepted cryptographic
   suite MUST contain exactly one transform of each type included in the
   proposal.
```

Pyikev2 proposal does not have any transform for the DH type, so it cannot find a match. Sounds right to me?

As per section 2.7 of RFC 7296, 
```
Each IPsec protocol proposal contains one or more transforms.  Each
   transform contains a Transform Type.  The accepted cryptographic
   suite MUST contain exactly one transform of each type included in the
   proposal.
```
pyikev2's proposal does not have any proposal for type DH, so it fails. Sounds right to me?

Sorry, it's the other way around. If you indicate a DH group for your CHILD_SA that means that you want PFS and REQUIRE a KE payload and DH gruop to be present. In this case, the peer is presenting neither, so it does not succeed.

Also, thanks for testing pyikev2. It's been a while and I'm quite happy someone is using it.
May I ask what are your motivations? Thanks

Umm, can you be a bit more specific? I see CREATE_CHILD_SAs without payload KE beingn processed perfectly fine.
Can you give me a more complete example? (full log output of pyikev2, where I can see the CREATED_CHILD_SA you are receiving, much appreciated)

```
vagrant@pyikev2:/vagrant/pyikev2$ sudo python3 pyikev2.py -v -c vagrant.yaml 
[2021-11-07 08:47:17.531] [INFO   ] Listening from [10.0.2.15]:500
[2021-11-07 08:47:17.531] [INFO   ] Listening from [192.168.22.91]:500
[2021-11-07 08:47:17.532] [INFO   ] Listening control events on [127.0.0.1]:9999
[2021-11-07 08:47:17.532] [INFO   ] Listening XFRM events.
[2021-11-07 08:47:21.192] [INFO   ] Starting the creation of IKE SA=bb36586ae47d3325. Count=1
[2021-11-07 08:47:21.192] [INFO   ] IKE_SA: bb36586ae47d3325. Received IKE_SA_INIT request (468 bytes) from 192.168.22.90 [SA, KE, NONCE, N(NAT_DETECTION_SOURCE_IP), N(NAT_DETECTION_DESTINATION_IP)]
[2021-11-07 08:47:21.192] [DEBUG  ] IKE_SA: bb36586ae47d3325. {
  "spi_i": "7b24eb457d4c283a",
  "spi_r": "0000000000000000",
  "major": 2,
  "minor": 0,
  "exchange_type": "IKE_SA_INIT",
  "is_request": true,
  "is_response": false,
  "can_use_higher_version": false,
  "is_initiator": true,
  "is_responder": false,
  "message_id": 0,
  "payloads": [
    {
      "type": "SA",
      "critical": false,
      "proposals": [
        {
          "num": 1,
          "protocol_id": "IKE",
          "spi": "",
          "transforms": [
            {
              "type": "ENCR",
              "id": "ENCR_AES_CBC",
              "keylen": 192
            },
            {
              "type": "ENCR",
              "id": "ENCR_AES_CBC",
              "keylen": 128
            },
            {
              "type": "ENCR",
              "id": "ENCR_3DES"
            },
            {
              "type": "PRF",
              "id": "PRF_HMAC_MD5"
            },
            {
              "type": "PRF",
              "id": "PRF_HMAC_SHA1"
            },
            {
              "type": "PRF",
              "id": "PrfId_4"
            },
            {
              "type": "INTEG",
              "id": "AUTH_HMAC_SHA2_256_128"
            },
            {
              "type": "DH",
              "id": "DH_14"
            }
          ]
        }
      ]
    },
    {
      "type": "KE",
      "critical": false,
      "dh_group": 14,
      "ke_data": "7cd672195e03876aee037fa24f702236b6e36787c8a7c8c370548735cf5290bfd254466ae04ccfef8511057f70accfa60743f08a15411866d6fff76a58a35742b51f6ede731408bf7a4f43babb7e7b2cfb06e8780f73856daf454d5625faee3611cdef5f9b26b3ba4a165b86bdee1a64acc1752d91beb11a87bcf5e10ca3749e12d69253fb02494a19b3faafe4b3dadeddbdea75ce6bdc725ec0a816a72a8329c381bc7e6c01b9d30eae42711ce61623ebc37352c099d58c800d32183d582e751c85b8f8b3c4b69669932632a1dea9f817f98d53ee8c9f6f3f784f3e1684238777ee4355fce0b80fd6566f104e23c164725aeeea88fab2e1fa25221c240e9dbf"
    },
    {
      "type": "NONCE",
      "critical": false,
      "nonce": "a2a4ad7eaba6a5990f64362a9bbd8d28ba96e42822ffaa67ec5a9da704a229ce"
    },
    {
      "type": "NOTIFY",
      "critical": false,
      "protocol_id": "NONE",
      "spi": "",
      "notification_type": "NAT_DETECTION_SOURCE_IP",
      "notification_data": "89c0e48015fdcc8bbe6afb510f88b389d380cc4a"
    },
    {
      "type": "NOTIFY",
      "critical": false,
      "protocol_id": "NONE",
      "spi": "",
      "notification_type": "NAT_DETECTION_DESTINATION_IP",
      "notification_data": "e4bc4f2308d74dc724eec6d1e78511b40a2035c5"
    }
  ],
  "encrypted_payloads": []
}
MY PROPOSAL
OrderedDict([('num', 1),
             ('protocol_id', 'IKE'),
             ('spi', ''),
             ('transforms',
              [OrderedDict([('type', 'ENCR'),
                            ('id', 'ENCR_AES_CBC'),
                            ('keylen', 128)]),
               OrderedDict([('type', 'INTEG'),
                            ('id', 'AUTH_HMAC_SHA2_256_128')]),
               OrderedDict([('type', 'PRF'), ('id', 'PRF_HMAC_SHA1')]),
               OrderedDict([('type', 'DH'), ('id', 'DH_14')])])])
PEER PROPOSAL 0
OrderedDict([('num', 1),
             ('protocol_id', 'IKE'),
             ('spi', ''),
             ('transforms',
              [OrderedDict([('type', 'ENCR'),
                            ('id', 'ENCR_AES_CBC'),
                            ('keylen', 192)]),
               OrderedDict([('type', 'ENCR'),
                            ('id', 'ENCR_AES_CBC'),
                            ('keylen', 128)]),
               OrderedDict([('type', 'ENCR'), ('id', 'ENCR_3DES')]),
               OrderedDict([('type', 'PRF'), ('id', 'PRF_HMAC_MD5')]),
               OrderedDict([('type', 'PRF'), ('id', 'PRF_HMAC_SHA1')]),
               OrderedDict([('type', 'PRF'), ('id', 'PrfId_4')]),
               OrderedDict([('type', 'INTEG'),
                            ('id', 'AUTH_HMAC_SHA2_256_128')]),
               OrderedDict([('type', 'DH'), ('id', 'DH_14')])])])
Proposal chosen...
[2021-11-07 08:47:21.217] [DEBUG  ] IKE_SA: bb36586ae47d3325. Generated DH shared secret: bd2388c59ec25d505db32779d5316d5f2271e916a1ec5ea84d350eb8015d03eb5d649e7f4e504d1ab6a47a1a2914323f3a055a98de5a47a09c31d15dd4e2217f0efa8fc35c0524b993dfd2a5021c091f7b686d66dc85aa90f38791df0b63ddae6f0faed56e66489ea194c84ff8b25eba14ce2746355953531d0479127a39d58b9b70118b92ecbece79af009d25781e0ae6e0692accd3b3a0933ca92141c78efb81e187385ff2df6a59bbb3e90473f52f95ae154f14d931a6744da8edae63fc39e0d42caa0a3829ce0072a13fc4d11a2bc2b71880f358d1f0d56b2f914b31353246578715abd0f97c6c6c390f8fc9081d9ee1a6f66a00773b7e0cf432b40dc484
[2021-11-07 08:47:21.218] [DEBUG  ] IKE_SA: bb36586ae47d3325. Generated SKEYSEED: 53f2dbd4ade75723ce1a23b237487cb0892ef364
[2021-11-07 08:47:21.219] [DEBUG  ] IKE_SA: bb36586ae47d3325. Generated sk_d: 7d201ae2f4db67d090da3f1a52fe4cee43312589
[2021-11-07 08:47:21.219] [DEBUG  ] IKE_SA: bb36586ae47d3325. Generated sk_ai: 671e094321350c3669d63099f4661ad5879cfeb29435596150317b01d5835122
[2021-11-07 08:47:21.220] [DEBUG  ] IKE_SA: bb36586ae47d3325. Generated sk_ar: 3a375cb48368452d093b10f1d1d0c8a3b77f8619894fec1481e90cc4fe4bfa1d
[2021-11-07 08:47:21.220] [DEBUG  ] IKE_SA: bb36586ae47d3325. Generated sk_ei: 842a0184abfb718dce30ddb4d10f40ec
[2021-11-07 08:47:21.221] [DEBUG  ] IKE_SA: bb36586ae47d3325. Generated sk_er: 2dfc065a43c7374257566966a3d2aafa
[2021-11-07 08:47:21.221] [DEBUG  ] IKE_SA: bb36586ae47d3325. Generated sk_pi: f01064aeb6661f10107b0001a6866b27795624c8
[2021-11-07 08:47:21.221] [DEBUG  ] IKE_SA: bb36586ae47d3325. Generated sk_pr: b09e51f4bfb603e5c429b039057e2877d1fa356d
[2021-11-07 08:47:21.222] [INFO   ] IKE_SA: bb36586ae47d3325. Sent IKE_SA_INIT response (575 bytes) to 192.168.22.90 [SA, NONCE, KE, VENDOR]
[2021-11-07 08:47:21.222] [DEBUG  ] IKE_SA: bb36586ae47d3325. {
  "spi_i": "7b24eb457d4c283a",
  "spi_r": "bb36586ae47d3325",
  "major": 2,
  "minor": 0,
  "exchange_type": "IKE_SA_INIT",
  "is_request": false,
  "is_response": true,
  "can_use_higher_version": false,
  "is_initiator": false,
  "is_responder": true,
  "message_id": 0,
  "payloads": [
    {
      "type": "SA",
      "critical": false,
      "proposals": [
        {
          "num": 1,
          "protocol_id": "IKE",
          "spi": "",
          "transforms": [
            {
              "type": "ENCR",
              "id": "ENCR_AES_CBC",
              "keylen": 128
            },
            {
              "type": "INTEG",
              "id": "AUTH_HMAC_SHA2_256_128"
            },
            {
              "type": "PRF",
              "id": "PRF_HMAC_SHA1"
            },
            {
              "type": "DH",
              "id": "DH_14"
            }
          ]
        }
      ]
    },
    {
      "type": "NONCE",
      "critical": false,
      "nonce": "0cb4597de63874507268ab201ab0b43bbaf1600ee9cef7943805a383729a8b7451d26371d29db1b57e886d3e021742617fd649c722b0f2d7618b55f83924aad3e5f7f99031cad78ae8c9117bc78aafc7ff70a3f85e3834275ad7cf75513dc3595a27150ac967368c1e784f85bd069e24263f563fbcceb6a548f0b81c05f6e26b95f5811ee19d7bb70bf01d7b5be5c00c9378b027b02d01d8004a52945cc4bdb32d225b45002afb91f3600e02889ed955acdf1c2d0e41af2fdb07a03023a6d633cdde5bbaff93731c1bbb69ec80eb96ca4e310fd60a5aa06c"
    },
    {
      "type": "KE",
      "critical": false,
      "dh_group": 14,
      "ke_data": "7cf3d24bc87c6fea5b5f5ce01b7e4967704c5fc5196164e4e8348e57766255029663bd065c9ebc34d43bddbf130d8e258cd23ff8f9152722a1a4eeb4c85dde6b6edb758790a47ea4a7ace17d82181f0490946404a3abc62f08bb2a7c48ea372ab05d1f568e81cbe46e33220675110db971614ff3fe5b536e2387efaeee3916fd2e16e3fc3caea1ed592067ded7387125a81a01f118ffe403c3e45f88541ed42ab5a78fd69207cfbb7eea7a604d8d886135dd2fc94f89f7b99b754b7e47d9632fe0c33f0229a22191b9df87b4ba387821c323a9aea147e51fe72ad2aef01adf7f32cd112cda3d9d0d5c0f790e09b17827556f88554467b310f10473910865b1ac"
    },
    {
      "type": "VENDOR",
      "critical": false,
      "vendor_id": "pyikev2-0.1"
    }
  ],
  "encrypted_payloads": []
}
[2021-11-07 08:47:21.266] [INFO   ] IKE_SA: bb36586ae47d3325. Received IKE_AUTH request (336 bytes) from 192.168.22.90 [IDi, N(INITIAL_CONTACT), AUTH, SA, TSi, TSr]
[2021-11-07 08:47:21.266] [DEBUG  ] IKE_SA: bb36586ae47d3325. {
  "spi_i": "7b24eb457d4c283a",
  "spi_r": "bb36586ae47d3325",
  "major": 2,
  "minor": 0,
  "exchange_type": "IKE_AUTH",
  "is_request": true,
  "is_response": false,
  "can_use_higher_version": false,
  "is_initiator": true,
  "is_responder": false,
  "message_id": 1,
  "payloads": [],
  "encrypted_payloads": [
    {
      "type": "IDi",
      "critical": false,
      "id_type": "ID_FQDN",
      "id_data": "racoon2"
    },
    {
      "type": "NOTIFY",
      "critical": false,
      "protocol_id": "NONE",
      "spi": "",
      "notification_type": "INITIAL_CONTACT",
      "notification_data": ""
    },
    {
      "type": "AUTH",
      "critical": false,
      "method": "RSA",
      "auth_data": "7a6eed5ef88a281b3e54392decca135547be50b37bc23437492674efbf314da779de633553f4eabcf82c21b0ae6a6d5c29630c98bbe97778652ab45ebfd61d92b45ee2d39f8a1bca10488a5d900945d0ae0bdd18cc6831b73ff013342c49394d5bf447a3ffbe710cf9a11dbf23706bf867f62ca6f4a90679f1fbd074fd4dd8ed"
    },
    {
      "type": "SA",
      "critical": false,
      "proposals": [
        {
          "num": 1,
          "protocol_id": "ESP",
          "spi": "06c2078c",
          "transforms": [
            {
              "type": "ENCR",
              "id": "ENCR_AES_CBC",
              "keylen": 256
            },
            {
              "type": "ENCR",
              "id": "ENCR_AES_CBC",
              "keylen": 128
            },
            {
              "type": "ENCR",
              "id": "ENCR_3DES"
            },
            {
              "type": "INTEG",
              "id": "AUTH_HMAC_SHA2_256_128"
            },
            {
              "type": "ESN",
              "id": "NO_ESN"
            }
          ]
        }
      ]
    },
    {
      "type": "TSi",
      "critical": false,
      "traffic_selectors": [
        {
          "ts_type": "TS_IPV4_ADDR_RANGE",
          "ip_proto": "ANY",
          "port-range": "0 - 65535",
          "addr-range": "0 - 65535"
        }
      ]
    },
    {
      "type": "TSr",
      "critical": false,
      "traffic_selectors": [
        {
          "ts_type": "TS_IPV4_ADDR_RANGE",
          "ip_proto": "ANY",
          "port-range": "0 - 65535",
          "addr-range": "0 - 65535"
        }
      ]
    }
  ]
}
DECODING INFO:
{'sk_ai': '671e094321350c3669d63099f4661ad5879cfeb29435596150317b01d5835122 len: 32',
 'sk_ar': '3a375cb48368452d093b10f1d1d0c8a3b77f8619894fec1481e90cc4fe4bfa1d len: 32',
 'sk_ei': '842a0184abfb718dce30ddb4d10f40ec len: 16',
 'sk_er': '2dfc065a43c7374257566966a3d2aafa len: 16',
 'spi i': '7b24eb457d4c283a len: 8',
 'spi r': 'bb36586ae47d3325 len: 8'}

MY PROPOSAL
OrderedDict([('num', 1),
             ('protocol_id', 'ESP'),
             ('spi', ''),
             ('transforms',
              [OrderedDict([('type', 'ENCR'),
                            ('id', 'ENCR_AES_CBC'),
                            ('keylen', 128)]),
               OrderedDict([('type', 'INTEG'),
                            ('id', 'AUTH_HMAC_SHA2_256_128')]),
               OrderedDict([('type', 'ESN'), ('id', 'NO_ESN')])])])
PEER PROPOSAL 0
OrderedDict([('num', 1),
             ('protocol_id', 'ESP'),
             ('spi', '06c2078c'),
             ('transforms',
              [OrderedDict([('type', 'ENCR'),
                            ('id', 'ENCR_AES_CBC'),
                            ('keylen', 256)]),
               OrderedDict([('type', 'ENCR'),
                            ('id', 'ENCR_AES_CBC'),
                            ('keylen', 128)]),
               OrderedDict([('type', 'ENCR'), ('id', 'ENCR_3DES')]),
               OrderedDict([('type', 'INTEG'),
                            ('id', 'AUTH_HMAC_SHA2_256_128')]),
               OrderedDict([('type', 'ESN'), ('id', 'NO_ESN')])])])
Proposal chosen...
[2021-11-07 08:47:21.277] [DEBUG  ] IKE_SA: bb36586ae47d3325. Generated sk_ai: 3a2e4abb17445ae37205510c8e0852f5898acb1219ba3448c0a93759b904415a
[2021-11-07 08:47:21.277] [DEBUG  ] IKE_SA: bb36586ae47d3325. Generated sk_ar: fdc645f212667021c70d575b29bfcb6aa329286b9d87ab269f53b06b356b4cea
[2021-11-07 08:47:21.277] [DEBUG  ] IKE_SA: bb36586ae47d3325. Generated sk_ei: aac0cbee1c1c5d94dd2e1532c0e07598
[2021-11-07 08:47:21.277] [DEBUG  ] IKE_SA: bb36586ae47d3325. Generated sk_er: 52aaf2a35737a17fb698d765546a5d7e
[2021-11-07 08:47:21.278] [INFO   ] IKE_SA: bb36586ae47d3325. Created CHILD_SA (9200a947, 06c2078c, TUNNEL, ESP) with lifetime = 10
[2021-11-07 08:47:21.279] [INFO   ] IKE_SA: bb36586ae47d3325. Sent IKE_AUTH response (320 bytes) to 192.168.22.90 [SA, TSi, TSr, IDr, AUTH]
[2021-11-07 08:47:21.279] [DEBUG  ] IKE_SA: bb36586ae47d3325. {
  "spi_i": "7b24eb457d4c283a",
  "spi_r": "bb36586ae47d3325",
  "major": 2,
  "minor": 0,
  "exchange_type": "IKE_AUTH",
  "is_request": false,
  "is_response": true,
  "can_use_higher_version": false,
  "is_initiator": false,
  "is_responder": true,
  "message_id": 1,
  "payloads": [],
  "encrypted_payloads": [
    {
      "type": "SA",
      "critical": false,
      "proposals": [
        {
          "num": 1,
          "protocol_id": "ESP",
          "spi": "9200a947",
          "transforms": [
            {
              "type": "ENCR",
              "id": "ENCR_AES_CBC",
              "keylen": 128
            },
            {
              "type": "INTEG",
              "id": "AUTH_HMAC_SHA2_256_128"
            },
            {
              "type": "ESN",
              "id": "NO_ESN"
            }
          ]
        }
      ]
    },
    {
      "type": "TSi",
      "critical": false,
      "traffic_selectors": [
        {
          "ts_type": "TS_IPV4_ADDR_RANGE",
          "ip_proto": "TCP",
          "port-range": "0 - 65535",
          "addr-range": "0 - 65535"
        }
      ]
    },
    {
      "type": "TSr",
      "critical": false,
      "traffic_selectors": [
        {
          "ts_type": "TS_IPV4_ADDR_RANGE",
          "ip_proto": "TCP",
          "port-range": "23 - 23",
          "addr-range": "23 - 23"
        }
      ]
    },
    {
      "type": "IDr",
      "critical": false,
      "id_type": "ID_FQDN",
      "id_data": "pyikev2"
    },
    {
      "type": "AUTH",
      "critical": false,
      "method": "RSA",
      "auth_data": "6f428fd24c992d845e7154d056729b06da6c5c67650daf9f8d1e9ca19b6850a21a6be735ee8a3917cf400d41ed2a0904fcf25ac70a64013645fdcd412aa636d9b7fd9de455577110300670f511d7548fb9ec8e84b933af672c6f014b9899023c48723c8f099759c9d5b97a1bf2b50e65c9bc3712faf2198f15d914c977701443"
    }
  ]
}
[2021-11-07 08:47:22.262] [INFO   ] IKE_SA: bb36586ae47d3325. Received CREATE_CHILD_SA request (224 bytes) from 192.168.22.90 [SA, NONCE, TSi, TSr]
[2021-11-07 08:47:22.263] [DEBUG  ] IKE_SA: bb36586ae47d3325. {
  "spi_i": "7b24eb457d4c283a",
  "spi_r": "bb36586ae47d3325",
  "major": 2,
  "minor": 0,
  "exchange_type": "CREATE_CHILD_SA",
  "is_request": true,
  "is_response": false,
  "can_use_higher_version": false,
  "is_initiator": true,
  "is_responder": false,
  "message_id": 2,
  "payloads": [],
  "encrypted_payloads": [
    {
      "type": "SA",
      "critical": false,
      "proposals": [
        {
          "num": 1,
          "protocol_id": "ESP",
          "spi": "083dc43b",
          "transforms": [
            {
              "type": "ENCR",
              "id": "ENCR_AES_CBC",
              "keylen": 256
            },
            {
              "type": "ENCR",
              "id": "ENCR_AES_CBC",
              "keylen": 128
            },
            {
              "type": "ENCR",
              "id": "ENCR_3DES"
            },
            {
              "type": "INTEG",
              "id": "AUTH_HMAC_SHA2_256_128"
            },
            {
              "type": "ESN",
              "id": "NO_ESN"
            }
          ]
        }
      ]
    },
    {
      "type": "NONCE",
      "critical": false,
      "nonce": "eb708e6a39393347fd434b4bf994e7bc18a6d4a371aa30594521fa18b62b42db"
    },
    {
      "type": "TSi",
      "critical": false,
      "traffic_selectors": [
        {
          "ts_type": "TS_IPV4_ADDR_RANGE",
          "ip_proto": "ANY",
          "port-range": "0 - 65535",
          "addr-range": "0 - 65535"
        }
      ]
    },
    {
      "type": "TSr",
      "critical": false,
      "traffic_selectors": [
        {
          "ts_type": "TS_IPV4_ADDR_RANGE",
          "ip_proto": "ANY",
          "port-range": "0 - 65535",
          "addr-range": "0 - 65535"
        }
      ]
    }
  ]
}
MY PROPOSAL
OrderedDict([('num', 1),
             ('protocol_id', 'ESP'),
             ('spi', ''),
             ('transforms',
              [OrderedDict([('type', 'ENCR'),
                            ('id', 'ENCR_AES_CBC'),
                            ('keylen', 128)]),
               OrderedDict([('type', 'INTEG'),
                            ('id', 'AUTH_HMAC_SHA2_256_128')]),
               OrderedDict([('type', 'DH'), ('id', 'DH_14')]),
               OrderedDict([('type', 'ESN'), ('id', 'NO_ESN')])])])
PEER PROPOSAL 0
OrderedDict([('num', 1),
             ('protocol_id', 'ESP'),
             ('spi', '083dc43b'),
             ('transforms',
              [OrderedDict([('type', 'ENCR'),
                            ('id', 'ENCR_AES_CBC'),
                            ('keylen', 256)]),
               OrderedDict([('type', 'ENCR'),
                            ('id', 'ENCR_AES_CBC'),
                            ('keylen', 128)]),
               OrderedDict([('type', 'ENCR'), ('id', 'ENCR_3DES')]),
               OrderedDict([('type', 'INTEG'),
                            ('id', 'AUTH_HMAC_SHA2_256_128')]),
               OrderedDict([('type', 'ESN'), ('id', 'NO_ESN')])])])
[2021-11-07 08:47:22.276] [WARNING] IKE_SA: bb36586ae47d3325. CHILD_SA negotiation failed. Could not find a suitable matching Proposal
[2021-11-07 08:47:22.276] [INFO   ] IKE_SA: bb36586ae47d3325. Sent CREATE_CHILD_SA response (80 bytes) to 192.168.22.90 [N(NO_PROPOSAL_CHOSEN)]
[2021-11-07 08:47:22.276] [DEBUG  ] IKE_SA: bb36586ae47d3325. {
  "spi_i": "7b24eb457d4c283a",
  "spi_r": "bb36586ae47d3325",
  "major": 2,
  "minor": 0,
  "exchange_type": "CREATE_CHILD_SA",
  "is_request": false,
  "is_response": true,
  "can_use_higher_version": false,
  "is_initiator": false,
  "is_responder": true,
  "message_id": 2,
  "payloads": [],
  "encrypted_payloads": [
    {
      "type": "NOTIFY",
      "critical": false,
      "protocol_id": "NONE",
      "spi": "",
      "notification_type": "NO_PROPOSAL_CHOSEN",
      "notification_data": ""
    }
  ]
}
^CSIGINT received. Exiting.
[2021-11-07 08:47:26.374] [INFO   ] Closing IKE_SA controller

```

> As per section 2.7 of RFC 7296,
> 
> ```
> Each IPsec protocol proposal contains one or more transforms.  Each
>    transform contains a Transform Type.  The accepted cryptographic
>    suite MUST contain exactly one transform of each type included in the
>    proposal.
> ```
> 
> Pyikev2 proposal does not have any transform for the DH type, so it cannot find a match. Sounds right to me?

I think that not, that text just says that if some proposal has been accepted it must contain only one transform of the specific type compared to the received transforms in the incoming proposal. Correct me if you think differently. Thank you.

Yes, hence my correction in the next line. It's an implementation decision. Pyikev2 won't accept any proposal that does  not matches with its configuration. You configured pyikev2 to use PFS, that's is, requiring a DH group for the CREATE_CHILD_SA. I'm not saying it could not be implemented otherwise, but I see that as a downgrade attack. If you told pyikev2 you wanted PFS, why should it accept anything lower than tath?

> Yes, hence my correction in the next comment. It's an implementation decision. Pyikev2 won't accept any proposal that does not matches with its configuration. You configured pyikev2 to use PFS, that's is, requiring a DH group for the CREATE_CHILD_SA. I'm not saying it could not be implemented otherwise, but I see that as a downgrade attack. If you told pyikev2 you wanted PFS, why should it accept anything lower than tath?

At the moment I am just testing PyIKEv2 with racoon2 and trying to pass all the steps. You are right, I'll check if it is possible to change racoon's behaviour.